:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: url("https://i.pinimg.com/564x/4a/fd/3a/4afd3abd71cd84dcaad0866e6f5a9d6e.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

